<div class="about-main">
  <h2>MeetProとは</h2>
  <br>
  <p>誰もが建設的な議論ができるチャットタイプの会議ツールです。<br>あなたの意見にディスカッションタイプをつけて会議を建設的に進めましょう。</p>
  <br>
  <div class="intro_container">
    <div class="steps">
      <%= image_tag('about1.jpg')%>
      <h4>⒈ 開催者が会議室を作成する</h4>
      <p>何の目的で開催される会議なのか参加者全員が分かるようなタイトルをつけてください。また、会議参加者に知らせるためのID、パスワードを設定してください。</p>
    </div>
    <div class="steps">
      <%= image_tag('about2.jpg')%>
      <h4>⒉ メンバーが会議室を追加する</h4>
      <p>会議開催者より知らせれたID,パスワードを入力し、会議室を追加してください。追加をしていないユーザーから会議を覗かれる心配はありません。</p>
    </div>
    <div class="steps">
      <%= image_tag('about3.jpg')%>
      <h4>⒊ 建設的に議論する</h4>
      <p>会議が始まったらまずは「目的」と「アジェンダ」を設定しましょう。ディスカッションタイプの中から自分の意見が常に何に当たるのかを意識しながら議論を進めていきましょう。</p>
    </div>
  </div>
  <div class="btn-wrapper">
    <a href="/users/sign_up" class="btn signup">新規ユーザー登録</a>
  </div>
</div>
