<div class="main top-main">
  <div class="top-message">
    <h2>Create More Smart World.</h2>
    <p>〜スマートなミーティングを可能に〜</p>
  </div>
  <div class="btn-wrapper">
    <a href="/users/sign_up" class="btn signup">新規ユーザー登録</a>
  </div>
</div>
